* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}


.retro-2021-wrapper {
    background: url(../img/retro-2021/bg-retrospectiva.jpg) no-repeat center 0;
    position: relative;
    overflow: hidden;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 30px;
    line-height: 1.2;
    font-weight: bold;
}

.retro-2021-wrapper.preloading >  * {
    opacity: 0;
    transition: 0.2;
}

.retro-2021-wrapper img[src*=gif] {
    max-width: 100%;
}

.retro-2021-wrapper img[src*=gif].full {
    max-width: none;
}

.retro-2021-wrapper .parallax-images {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.retro-2021-wrapper img{
    max-width: none;
    display: block;
}

.retro-2021-wrapper .timeline-wrapper,
.retro-2021-wrapper .bgs {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.retro-2021-wrapper .bgs  {
    width: 100%;
    max-width: 1920px;
    height: 100%;
}
.retro-2021-wrapper .bgs img {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.retro-2021-wrapper .bg-1 {
    background: url(../img/retro-2021/bg-small-planets.png) no-repeat center 0;    
}

.retro-2021-wrapper .bg-2 {
    background: url(../img/retro-2021/bg-espirais.png) no-repeat center 0;
}


.retro-2021-wrapper .retro {
    font-family: 'Retro Gaming'; 
    font-weight: normal;
    font-style: normal;;
}

.retro-2021-wrapper .highlight {
    color: #ffb42c;
}

.retro-2021-content-line {
    position: relative;

}

.retro-2021-content-line-inner {
    max-width: 1080px;
    position: relative;
    margin-left: auto;
    margin-right: auto;    
}

.retro-2021-wrapper .intro {
    padding-top: 85px;
    height: 1250px;
}

.retro-2021-wrapper .intro .text-content {
    padding-top: 80px;
}

.retro-2021-wrapper .intro-text {
    text-align: center;
    margin-bottom: 40px;
    padding-left: 150px;
}

.retro-2021-wrapper .intro-text p:first-child {
    font-size: 48px;
    line-height: 1.2;
    color: #ffb42c;
}

.retro-2021-wrapper .intro-text p {
    font-size: 32px;
    margin-bottom: 0;
}

.retro-2021-wrapper .logo img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
}

.retro-2021-wrapper .titulo-mes {
    position: relative;
    display: block;
}

.retro-2021-wrapper .marco {
    height: 735px;
}

.retro-2021-wrapper .marco .titulo-mes {
    margin-bottom: 60px;
}

.retro-2021-wrapper .marco .text-content {
    padding-top: 30px;
}

.retro-2021-wrapper .marco .text-content img {
    transform: translate(-35px, -35px);
}

.retro-2021-wrapper .marco-fim {
    height: 545px;
}

.retro-2021-wrapper .computador-wrapper {
    position: relative;
}

.retro-2021-wrapper .julho {
    height: 875px;
}

.retro-2021-wrapper .julho .text-content {
    padding: 60px 0 0 20px;
}

.retro-2021-wrapper .julho .titulo-mes {
    margin-bottom: 70px;
}

.retro-2021-wrapper .computador-julho-wrapper .computador {
    position: relative;
    z-index: 1;
}



.retro-2021-wrapper .divider-nuvens {
    height: 600px;
    margin-top: -75px;
}

.retro-2021-wrapper .nuvens-wrapper {
    position: relative;
}

.retro-2021-wrapper .nuvens {
    position: relative;
    z-index: 1;
}

.retro-2021-wrapper .chuva {
    position: absolute;
    left: 65px;
    top: 370px;
}

.retro-2021-wrapper .maio {
    height: 1240px;
}

.retro-2021-wrapper .maio .titulo {
    margin-bottom: 30px;
}

.retro-2021-wrapper .maio .text-content {
    position: relative;
}

.retro-2021-wrapper .maio .text-content.last p {
    margin-top: 50px;
}
.retro-2021-wrapper .maio .text-content.last p:last-child {
    margin-top: 280px;
}

.retro-2021-wrapper .maio .alien-vermelho {
    position: absolute;
    right: -93px;
    top: 0;
}

.retro-2021-wrapper .level-up {
    height: 375px;
}

.retro-2021-wrapper .happmobi-pearson {
   
    height:510px;
}

.retro-2021-wrapper .happmobi-pearson img {
    margin-bottom: 30px;
}

.retro-2021-wrapper .divider-astronauta {
    height: 695px;
    margin-top: -310px;
    margin-bottom: -55px;
}

.retro-2021-wrapper .agosto {
     height:820px;
}

.retro-2021-wrapper .agosto .text-content {
    padding: 50px 0 0 80px;
}

.retro-2021-wrapper .agosto .fogo {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.retro-2021-wrapper .agosto .titulo {
    margin-bottom: 20px;
}

.retro-2021-wrapper .divider-asteroids {
    height: 160px;
}

.retro-2021-wrapper .outubro {
    height: 900px;
}

.retro-2021-wrapper .outubro .titulo-mes {
    padding-left: 25px;
}

.retro-2021-wrapper .outubro .text-content {
    padding-top: 50px;
}

.retro-2021-wrapper .novembro {
    height: 1140px;
}

.retro-2021-wrapper .novembro .titulo {
    margin-bottom: 100px;
}

.retro-2021-wrapper .novembro img {
    transform: translateX(10px);
}

.retro-2021-wrapper .novembro .text-content {
    padding-top: 50px;
}

.retro-2021-wrapper .conclusoes {
    height: 865px;
}

.retro-2021-wrapper .numeros {
    height: 620px;
}

.retro-2021-wrapper .numeros .text-content {
    padding-left: 70px;
}

.retro-2021-wrapper .numeros-wrapper {
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 40px;
}

.retro-2021-wrapper .numeros p:last-child {
    margin-bottom: 0;
}

.retro-2021-wrapper .habilita {
    height: 580px;
    padding-left: 120px;
}

.retro-2021-wrapper .habilita p:last-child {
    margin-top: 70px;
}

.retro-2021-wrapper  .loading-2022 {
    height: 1295px;
}

.retro-2021-wrapper  .loading-2022 .loading {
    transform: translateX(-50%);
    position: relative;
    left: 50%;
}

.retro-2021 .numeros-wrapper {
    width:  630px;
    font-size: 40px;    
}

.numeros-wrapper .item {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: #ffd800;
    position: relative;
}

.numeros-wrapper .item:not(:last-child) {
    margin-bottom: 20px;
}

.numeros-wrapper .number {
    min-width: 160px;
}

.numeros-wrapper .divider {
    position: relative;
    flex: 1;
    display: flex;
    margin: 0 5px;
}

.numeros-wrapper .divider:after {
    content: "";
    height: 7px;
    width: 100%;
    background: url(../img/retro-2021/dot.png) repeat-x 0 0;
    position: absolute;
    bottom: 16px;    
}

.retro-2021-wrapper .footer {
    height: 975px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 0;
}
.retro-2021-wrapper .footer .foguete-final {
    position: absolute;
    bottom: 0;
    
}

@media screen and (max-width: 1140px) {

    .retro-2021-wrapper {
        font-size: 24px;
        padding: 0 15px;
    }
    .retro-2021-wrapper .timeline-wrapper {
        display: none;
    }

    .retro-2021-wrapper .retro-2021-content-line {
        height: auto;
        margin-bottom: 30px;
    }

    .retro-2021-wrapper .image-wrapper img {
        max-width: 70%;
        margin: 0 auto 20px;
    }
 

    .retro-2021-wrapper img,
    .retro-2021-wrapper img[src*=gif],
    .retro-2021-wrapper img[src*=gif].full {
        max-width: 100%;
    }

    .retro-2021-wrapper [class*="bg-"] {
        background-size: contain;
    }

    .retro-2021-wrapper .titulo-mes {
        max-width: 65%;
        margin-bottom: 30px;
    }

    .retro-2021-wrapper .intro {
        padding-top: 20px;
    }

    .retro-2021-wrapper .intro-text {
        padding-left: 0;
    }

    .retro-2021-wrapper .intro-text p {
        font-style: 22px;
    }

    .retro-2021-wrapper .intro-text p:first-child {
        font-size: 36px;
    }

    .retro-2021-wrapper .julho .titulo-mes {
        margin-bottom: 0;
    }

    .retro-2021-wrapper .agosto .text-content {
        padding: 0;
    }

    .retro-2021-wrapper .happmobi-pearson {
        height: auto;
    }

    .retro-2021-wrapper .numeros .text-content {
        padding-left: 0;
    }

    .retro-2021-wrapper .numeros-wrapper {
        margin-top: 25px;
        margin-bottom: 30px;
        font-size: 30px;
    }

    .retro-2021-wrapper .habilita {
        padding-left: 0;
        
    }

    .retro-2021-wrapper .habilita p:last-child {
        margin-top: 20px;
    }

    .retro-2021-wrapper .maio .text-content.last p:last-child {
        margin-top: 30px;
    }

    .retro-2021-wrapper .divider-astronauta {
        display: none;
    }

    .retro-2021-wrapper .novembro .titulo {
        margin-bottom: 20px;
    }

    .retro-2021-wrapper .novembro img {
        transform: none;
    }

    .retro-2021-wrapper .loading-2022 .loading {
        position: static;
        transform: none;
        margin-bottom: 230px;
    }

    .retro-2021-wrapper .footer {
        margin-left: -15px;
        margin-right: -15px;
    }

    


    
    
}