* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}


.retro-2021-wrapper {
    background: url(../img/retro-2021/bg-retrospectiva.jpg) no-repeat center 0;
    position: relative;
    overflow: hidden;
    overflow-x: hidden;
}

.retro-2021-wrapper .parallax-images {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.retro-2021-wrapper img{
    max-width: none;
    display: block;
}

.retro-2021-wrapper .timeline-wrapper,
.retro-2021-wrapper .bgs {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.retro-2021-wrapper .bgs  {
    width: 100%;
    max-width: 1920px;
    height: 100%;
}
.retro-2021-wrapper .bgs img {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.retro-2021-wrapper .bg-1 {
    background: url(../img/retro-2021/bg-espirais.png) no-repeat center 0;
}

.retro-2021-wrapper .bg-2 {
    background: url(../img/retro-2021/bg-small-planets.png) no-repeat center 0;
}






.retro-2021-wrapper .retro {
    font-family: 'Retro Gaming'; 
    font-weight: normal;
    font-style: normal;;
}

.retro-2021-wrapper .highlight {
    color: #ffb42c;
}

.retro-2021-content-line {
    position: relative;
}



.retro-2021-content-line-inner {
    max-width: 1080px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /* outline: solid 1px red; */
}


.retro-2021-wrapper .intro {
    padding-top: 85px;
    height: 1220px;
}

.retro-2021-wrapper .intro-text {
    text-align: center;
    margin-bottom: 40px;
    padding-left: 150px;
}

.retro-2021-wrapper .text-content {
    padding-top: 70px;
}

.retro-2021-wrapper .intro-text p:first-child {
    font-size: 48px;
    line-height: 1.2;
    color: #ffb42c;
}
.retro-2021-wrapper .intro-text p {
    font-size: 32px;
    margin-bottom: 0;
}

.retro-2021-wrapper .logo img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
}

.retro-2021-wrapper .titulo-mes {
    position: relative;
    display: block;
}

.retro-2021-wrapper .marco {
    margin-bottom: -70px;
    height: 790px;
}

.retro-2021-wrapper .marco .text-content {
    padding-top: 30px;
}

.retro-2021-wrapper .marco-fim {
    height: 545px;
}

.retro-2021-wrapper .computador-wrapper {
    position: relative;
}

.retro-2021-wrapper .julho {
    height:815px;
}

.retro-2021-wrapper .computador-julho-wrapper .computador {
    position: relative;
    z-index: 1;
}

.retro-2021-wrapper .computador-julho-wrapper .fogo {
    position: absolute;
    top: 100%;
}

.retro-2021-wrapper .computador-julho-wrapper .fogo-1 {
    left: 40px;
}

.retro-2021-wrapper .computador-julho-wrapper .fogo-2 {
    right: -40px;
}

.retro-2021-wrapper .divider-nuvens {
    margin: 0;
    height: 515px;
    /* margin-bottom: -130px; */
}

.retro-2021-wrapper .nuvens-wrapper {
    position: relative;
}

.retro-2021-wrapper .nuvens {
    position: relative;
    z-index: 1;
}

.retro-2021-wrapper .chuva {
    position: absolute;
    left: 65px;
    top: 370px;
}

.retro-2021-wrapper .maio {
    margin-top: 415px;
    height: 1240px;
}

.retro-2021-wrapper .maio .titulo {
    margin-bottom: 30px;
}

.retro-2021-wrapper .maio p:first-child {
    margin-bottom: 265px;
}

.retro-2021-wrapper .level-up {
    height: 375px;
}

.retro-2021-wrapper .level-up .titulo {
    margin-bottom: 180px;
}

.retro-2021-wrapper .happmobi-pearson {
    margin-top: 80px;
    height: 410px;
}

.retro-2021-wrapper .happmobi-pearson img {
    margin-bottom: 30px;
}

.retro-2021-wrapper .divider-astronauta {
    margin-top: -300px;
    margin-bottom: -75px;
    height: 480px;
}

.retro-2021-wrapper .agosto {
    margin-bottom: 160px;
    height:825px;
}

.retro-2021-wrapper .agosto .fogo {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.retro-2021-wrapper .agosto .titulo {
    margin-bottom: 60px;
}

.retro-2021-wrapper .divider-asteroids {
    margin-bottom: 65px;
    height: 160px;
}

.retro-2021-wrapper .outubro {
    margin-bottom: 230px;
    height: 930px;
}

.retro-2021-wrapper .novembro {
    margin-bottom: 120px;
    height: 1095px;
}

.retro-2021-wrapper .conclusoes {
    margin-bottom: 160px;
    height: 865px;
}

.retro-2021-wrapper .numeros {
    margin-bottom: 70px;
    height: 620px;
}

.retro-2021-wrapper .numeros-wrapper {
    margin-bottom: 85px;
    font-size: 40px;
}

.retro-2021-wrapper .numeros p:last-child {
    margin-bottom: 0;
}

.retro-2021-wrapper .habilita {
    height: 585px;
}

.retro-2021-wrapper .habilita img {
    margin-bottom: 50px;
}

.retro-2021-wrapper .habilita p:last-child {
    margin-bottom: 85px;
}

.retro-2021-wrapper .novembro .titulo {
    margin-bottom: 100px;
}


.retro-2021-wrapper  .loading-2022 {
    margin-bottom: 80px;
    height: 1365px;
}

.retro-2021-wrapper  .loading-2022 .loading {
    transform: translateX(-50%);
    position: relative;
    left: 50%;
}

.retro-2021 .numeros-wrapper {
    width:  630px;
    font-size: 40px;
    
}

.numeros-wrapper .item {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: #ffd800;
    position: relative;
}

.numeros-wrapper .item:not(:last-child) {
    margin-bottom: 20px;
}

.numeros-wrapper .number {
    min-width: 125px;
}

.numeros-wrapper .divider {
    position: relative;
    flex: 1;
    display: flex;
    margin: 0 5px;
}

.numeros-wrapper .divider:after {
    content: "";
    height: 7px;
    width: 100%;
    background: url(../img/retro-2021/dot.png) repeat-x 0 0;
    position: absolute;
    bottom: 11px;
    
}

.retro-2021-wrapper .footer {
    height: 975px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 0;
}
.retro-2021-wrapper .footer .foguete-final {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}